# Compiled JavaScript files
lib/**/*.js
lib/**/*.js.map

# TypeScript v1 declaration files
typings/

# Node.js dependency directory
node_modules/
*.local
gen-lang-client-0291573737-2494b74f678a.json
package-lock.json
.genkit