genkit_rag_firestore_firebase_function/functions/src/index.ts
genkit_rag_firestore_firebase_function/functions/demoproject-cbbe7-53269f96d10d.json
genkit_rag_firestore_firebase_function/functions/demoproject-cbbe7-3acc23d5f081.json
